* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(img/mrvel.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.container {
  margin: center;
}

.borde {
height: 80vh;
}

.pointer {
  cursor: pointer;
}

.rigth{
  /* ackground-color: rgba(0, 0, 0, 0.5); */
  outline: 1px solid black;
}
.left, .rigth{
  box-shadow: 
  0 10px 15px rgba(0, 0, 0, 0.315),
  0 20px 30px rgba(0, 0, 0, 0.479);
  background-color: rgba(59, 4, 4, 0.5);
  color: #00aae4;
}
.left ul li{
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 40%;
  height: 100%;
  margin-left: 0;
}

/* oculta las listas anidadas */

input[name="list1"], input[name="list2"] {
  position: absolute;
  left: -1000em;
}

label:before {
  content: "\025b8";
  margin-right: 4px;
}

input:checked~label:before {
  content: "\025be";
}

.interior {
  display: block;
}

input:checked~ul {
  display: none;
}
.imagenes{
  width: 100%;
  height: 100%;
  margin: auto;
}
.cuadros{
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  background-color: rgba(197, 190, 190, 0.514);
}
.imgs{
  margin: auto;
  cursor: pointer;
}
/* carrusel de peliculas */
.content-all{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
}
.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel :hover{
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure{
  width: 100%;
  height: 290px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}


.content-carrousel figure:hover{
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(300px)}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg)translateZ(300px)}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg)translateZ(300px)}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg)translateZ(300px)}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg)translateZ(300px)}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg)translateZ(300px)}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg)translateZ(300px)}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg)translateZ(300px)}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg)translateZ(300px)}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg)translateZ(300px)}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
}
.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
  
}

@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}